*{ 
    margin: 0;
    padding: 0;
}
.header
{
    height: 100vh;

}
.navbar-style
{
    box-shadow: 0 5px 10px #4cdf53;
    text-transform: uppercase;
}

.logo
{
    height: 48px;
    padding: 2px 10px;
}

li a
{
    color: rgb(9, 102, 17);
    font-weight: bold;
}
.big-text
{
    font-size: 52px;
    margin: 20px 0;
    color: rgb(6, 114, 39);
}
p {
    font-size: 20px;
  }

a.btn
{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

a.btn-first
{
    background-color: limegreen;
    color: #333;
}

a.btn-second
{
    background: transparent;
    border: 1px solid limegreen;
    color: #333;
}


a.btn:hover
{
    background: #4cdf53;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

.banner-info, .banner-image
{
     margin: 30px 0; 
}

h1
{
    font-size: large;
    font-weight: bold;
    color: rgb(25, 114, 25);
    text-align: center;
    
}

.carousel-inner img 
{
    width: 100%;
    height: 100%;
}

a
{
   text-decoration: none;
   outline: none;
}

.footer-main-div
{
    width: 100%;
    height: auto;
    margin: auto;
    background: #0a0a0a ;
    padding: 20px 0px;
}

.footer-social-icons
{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social-icons ul
{
     margin: 0px;
     padding: 0px;
     text-align: center;
}

.footer-social-icons ul li
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px; 
    border-radius: 100%;
    background: #32cd32; 
}

.footer-social-icons ul li a
{
    color: #272727;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a span
{
    line-height: 50px;
}

.footer-menu-one
{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-menu-one ul
{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-menu-one ul li
{
    display: inline-block;
    margin: 0px 20px;
}

.footer-menu-one ul li a
{
    font-family: arial;
    font-size: 16px;
    font-weight: 600px;
    color: #fff;
    text-transform: uppercase;
}

.footer-bttom
{
    width: 100%;
    height: auto;
    margin: auto;
    background: #32CD32;
    padding: 5px;
}

.footer-bttom
{
    font-family: Arial;
    font-size: 14px;
    text-align: center;
    color: rgb(5, 5, 5);
}

